.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Full width of the viewport */
    height: 80px;  /* Adjust the height as needed */
    padding: 0 120px;
    background-color: grey; /* Background color of the navbar */
    opacity: 75%;
    /* color: blue; */
    position: fixed; /* Make the navbar stick to the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    cursor: pointer;
}

.menu-trigger img{
    position: auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-menu{
    position: absolute;
    top: 100px;
    right: 65px;
    background-color: rgb(246, 246, 246);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 65px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
}

h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
}

.dropdown-menu ul li{
    padding: 10px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
}

.dropdown-menu ul li:hover img{
    opacity: 1;
}

.dropdownItem{
    display: flex;
    margin: 10px auto;
}

.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transform: var(--speed);
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}

:root {
    --border-radius: 10px;
    --secondary-bg: #f0f0f0;
    --primary-text-color: #333;
    --secondary-text-color: #777;
    --speed: 0.3s;
  }

  

/*.profile-container{
    position: relative;
}

.profile-icon{
    width: 40px;
    height: 40px;
}

.dropdown-menu{
    position: absolute;
    right: 0%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dropdown-menu p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
  
.dropdown-menu p:hover {
    background-color: lightgrey;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: white;
    color: black;
} */